.searchContainer {
  margin-top: 15em;
}

.carCol {
  padding-top: 1.5rem;
}

.carCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchButton {
  padding-top: 1em;
}
